/vendor/
/composer.phar
/composer.lock
/phpcs.xml

**/.DS_Store
**/.htaccess
/.buildpath
/.project
/.settings
/.idea/
/.vscode/*
IMG/*
config/*
ecrire/inc_connect.php3
ecrire/inc_meta_cache.php3
/extensions
/lib
local/*
/mutualisation
/plugins
/plugins-dist
/sites
/squelettes
/squelettes-dist
/tests
/themes
tmp/*
